### Pegar Cotações do Yahoo Finance com Python

- pandas_datareader
- yfinance

In [ ]:
#!pip install pandas-datareader yfinance pandas numpy matplotlib

In [ ]:
import pandas as pd
import pandas_datareader.data as pdr
import yfinance as yf

#yfinance.pdr_override()

In [ ]:
petro = yf.Ticker('PETR4.SA')
petro.ticker

'PETR4.SA'

In [5]:
petro.actions

                           Dividends  Stock Splits
Date
2005-04-01 00:00:00-03:00   0.079975           0.0
2005-07-01 00:00:00-03:00   0.250663           0.0
2005-09-01 00:00:00-03:00   0.000000           4.0
2006-01-02 00:00:00-02:00   0.259000           0.0
2006-04-04 00:00:00-03:00   0.185750           0.0
2006-11-01 00:00:00-03:00   0.500750           0.0
2007-01-02 00:00:00-02:00   0.225000           0.0
2007-04-03 00:00:00-03:00   0.175000           0.0
2007-08-20 00:00:00-03:00   0.251700           0.0
2007-10-08 00:00:00-03:00   0.256500           0.0
2008-01-14 00:00:00-02:00   0.155300           0.0
2008-04-07 00:00:00-03:00   0.102600           0.0
2008-04-28 00:00:00-03:00   0.000000           2.0
2008-12-29 00:00:00-02:00   0.351600           0.0
2009-04-09 00:00:00-03:00   0.351600           0.0
2009-07-06 00:00:00-03:00   0.300000           0.0
2009-10-01 00:00:00-03:00   0.200000           0.0
2009-12-21 00:00:00-02:00   0.200000           0.0
2010-04-23 00:00:00-03:00   0.133200           0.0
2010-05-24 00:00:00-03:00   0.170000           0.0
2010-08-02 00:00:00-03:00   0.170000           0.0
2010-11-03 00:00:00-02:00   0.140000           0.0
2010-12-22 00:00:00-02:00   0.200000           0.0
2011-03-22 00:00:00-03:00   0.173420           0.0
2011-04-29 00:00:00-03:00   0.126500           0.0
2011-05-12 00:00:00-03:00   0.213600           0.0
2011-08-03 00:00:00-03:00   0.207300           0.0
2011-11-14 00:00:00-02:00   0.200000           0.0
2012-01-03 00:00:00-02:00   0.177300           0.0
2012-03-20 00:00:00-03:00   0.124400           0.0
2012-05-14 00:00:00-03:00   0.200000           0.0
2013-04-30 00:00:00-03:00   0.380000           0.0
2014-04-03 00:00:00-03:00   0.967200           0.0
2018-05-22 00:00:00-03:00   0.050000           0.0
2018-08-14 00:00:00-03:00   0.050000           0.0
2018-11-22 00:00:00-02:00   0.100000           0.0
2018-12-26 00:00:00-02:00   0.716563           0.0
2019-04-26 00:00:00-03:00   0.019494           0.0
2019-05-22 00:00:00-03:00   0.100000           0.0
2019-08-13 00:00:00-03:00   0.200000           0.0
2019-11-12 00:00:00-03:00   0.200925           0.0
2019-12-27 00:00:00-03:00   0.421942           0.0
2020-07-23 00:00:00-03:00   0.000461           0.0
2021-04-15 00:00:00-03:00   0.792834           0.0
2021-08-17 00:00:00-03:00   1.609911           0.0
2021-12-02 00:00:00-03:00   3.250487           0.0
2022-04-14 00:00:00-03:00   2.970249           0.0
2022-05-24 00:00:00-03:00   3.715490           0.0
2022-08-12 00:00:00-03:00   6.667932           0.0
2022-11-22 00:00:00-03:00   1.748708           0.0
2023-04-28 00:00:00-03:00   2.930163           0.0
2023-06-13 00:00:00-03:00   1.893576           0.0
2023-08-22 00:00:00-03:00   1.149304           0.0
2023-11-22 00:00:00-03:00   1.371248           0.0
2024-04-26 00:00:00-03:00   1.150024           0.0
2024-05-03 00:00:00-03:00   1.776022           0.0
2024-06-12 00:00:00-03:00   1.043242           0.0
2024-08-22 00:00:00-03:00   1.053200           0.0

In [6]:
petro.dividends

Date
2005-04-01 00:00:00-03:00    0.079975
2005-07-01 00:00:00-03:00    0.250663
2006-01-02 00:00:00-02:00    0.259000
2006-04-04 00:00:00-03:00    0.185750
2006-11-01 00:00:00-03:00    0.500750
2007-01-02 00:00:00-02:00    0.225000
2007-04-03 00:00:00-03:00    0.175000
2007-08-20 00:00:00-03:00    0.251700
2007-10-08 00:00:00-03:00    0.256500
2008-01-14 00:00:00-02:00    0.155300
2008-04-07 00:00:00-03:00    0.102600
2008-12-29 00:00:00-02:00    0.351600
2009-04-09 00:00:00-03:00    0.351600
2009-07-06 00:00:00-03:00    0.300000
2009-10-01 00:00:00-03:00    0.200000
2009-12-21 00:00:00-02:00    0.200000
2010-04-23 00:00:00-03:00    0.133200
2010-05-24 00:00:00-03:00    0.170000
2010-08-02 00:00:00-03:00    0.170000
2010-11-03 00:00:00-02:00    0.140000
2010-12-22 00:00:00-02:00    0.200000
2011-03-22 00:00:00-03:00    0.173420
2011-04-29 00:00:00-03:00    0.126500
2011-05-12 00:00:00-03:00    0.213600
2011-08-03 00:00:00-03:00    0.207300
2011-11-14 00:00:00-02:00    0.200000
2012-01-03 00:00:00-02:00    0.177300
2012-03-20 00:00:00-03:00    0.124400
2012-05-14 00:00:00-03:00    0.200000
2013-04-30 00:00:00-03:00    0.380000
2014-04-03 00:00:00-03:00    0.967200
2018-05-22 00:00:00-03:00    0.050000
2018-08-14 00:00:00-03:00    0.050000
2018-11-22 00:00:00-02:00    0.100000
2018-12-26 00:00:00-02:00    0.716563
2019-04-26 00:00:00-03:00    0.019494
2019-05-22 00:00:00-03:00    0.100000
2019-08-13 00:00:00-03:00    0.200000
2019-11-12 00:00:00-03:00    0.200925
2019-12-27 00:00:00-03:00    0.421942
2020-07-23 00:00:00-03:00    0.000461
2021-04-15 00:00:00-03:00    0.792834
2021-08-17 00:00:00-03:00    1.609911
2021-12-02 00:00:00-03:00    3.250487
2022-04-14 00:00:00-03:00    2.970249
2022-05-24 00:00:00-03:00    3.715490
2022-08-12 00:00:00-03:00    6.667932
2022-11-22 00:00:00-03:00    1.748708
2023-04-28 00:00:00-03:00    2.930163
2023-06-13 00:00:00-03:00    1.893576
2023-08-22 00:00:00-03:00    1.149304
2023-11-22 00:00:00-03:00    1.371248
2024-04-26 00:00:00-03:00    1.150024
2024-05-03 00:00:00-03:00    1.776022
2024-06-12 00:00:00-03:00    1.043242
2024-08-22 00:00:00-03:00    1.053200
Name: Dividends, dtype: float64

In [7]:
petro.splits

Date
2005-09-01 00:00:00-03:00    4.0
2008-04-28 00:00:00-03:00    2.0
Name: Stock Splits, dtype: float64

In [16]:
petro.history(start= '2024-11-10', end= '2024-11-14', interval= '5m')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-11-11 10:00:00-03:00,35.990002,36.000000,35.900002,35.990002,0,0.0,0.0
2024-11-11 10:05:00-03:00,35.990002,36.040001,35.910000,36.040001,187000,0.0,0.0
2024-11-11 10:10:00-03:00,36.040001,36.200001,36.020000,36.160000,704200,0.0,0.0
2024-11-11 10:15:00-03:00,36.160000,36.310001,36.139999,36.259998,604800,0.0,0.0
2024-11-11 10:20:00-03:00,36.259998,36.380001,36.259998,36.279999,820200,0.0,0.0
...,...,...,...,...,...,...,...
2024-11-13 16:35:00-03:00,36.980000,36.990002,36.950001,36.970001,134100,0.0,0.0
2024-11-13 16:40:00-03:00,36.980000,36.990002,36.950001,36.990002,307100,0.0,0.0
2024-11-13 16:45:00-03:00,36.990002,37.029999,36.970001,37.009998,408200,0.0,0.0
2024-11-13 16:50:00-03:00,37.029999,37.040001,36.959999,37.029999,632000,0.0,0.0
2024-11-13 16:55:00-03:00,37.029999,37.049999,37.000000,37.029999,286300,0.0,0.0

In [18]:
petro.history(period = 'max', interval= '1wk')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2000-01-03 00:00:00-02:00,1.347892,1.347892,1.256121,1.261857,162252800000,0.0,0.0
2000-01-10 00:00:00-02:00,1.287782,1.287782,1.221707,1.238914,109893120000,0.0,0.0
2000-01-17 00:00:00-02:00,1.224689,1.230425,1.193028,1.193028,117163520000,0.0,0.0
2000-01-24 00:00:00-02:00,1.184540,1.198764,1.184540,1.190275,100577280000,0.0,0.0
2000-01-31 00:00:00-02:00,1.170315,1.282046,1.170315,1.282046,117360640000,0.0,0.0
...,...,...,...,...,...,...,...
2024-10-14 00:00:00-03:00,37.470001,37.900002,36.410000,36.830002,127699900,0.0,0.0
2024-10-21 00:00:00-03:00,37.000000,37.049999,35.560001,36.150002,143948200,0.0,0.0
2024-10-28 00:00:00-03:00,35.490002,36.419998,35.299999,35.419998,135944300,0.0,0.0
2024-11-04 00:00:00-03:00,35.900002,36.320000,35.029999,36.180000,160381300,0.0,0.0
2024-11-11 00:00:00-03:00,35.990002,37.330002,35.900002,37.270000,155271600,0.0,0.0

In [20]:
yf.download("WEGE3.SA", start = '2023-01-01', end = '2023-10-01')

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,WEGE3.SA,WEGE3.SA,WEGE3.SA,WEGE3.SA,WEGE3.SA,WEGE3.SA
Date,,,,,,
2023-01-02 00:00:00+00:00,36.884968,38.099998,38.500000,37.740002,38.500000,3017700
2023-01-03 00:00:00+00:00,35.965260,37.150002,38.369999,36.889999,38.110001,5662900
2023-01-04 00:00:00+00:00,36.207298,37.400002,37.689999,36.660000,37.330002,6169800
2023-01-05 00:00:00+00:00,36.284744,37.480000,37.900002,37.259998,37.590000,6660600
2023-01-06 00:00:00+00:00,36.817204,38.029999,38.270000,37.299999,37.490002,4071700
...,...,...,...,...,...,...
2023-09-25 00:00:00+00:00,35.475536,36.130001,36.400002,35.000000,35.200001,12727400
2023-09-26 00:00:00+00:00,35.426441,36.080002,36.220001,35.110001,35.189999,9274100
2023-09-27 00:00:00+00:00,35.367531,36.020000,36.720001,35.759998,36.180000,10447500
2023-09-28 00:00:00+00:00,35.730824,36.389999,36.570000,35.810001,36.099998,5738900
2023-09-29 00:00:00+00:00,35.612999,36.270000,36.709999,36.150002,36.619999,5247900

In [21]:
yf.download(["WEGE3.SA", "IVVB11.SA"], start = '2023-01-01', end = '2023-10-01')

[*********************100%***********************]  2 of 2 completed

Price                       Adj Close                  Close             \
Ticker                      IVVB11.SA   WEGE3.SA   IVVB11.SA   WEGE3.SA
Date
2023-01-02 00:00:00+00:00  227.500000  36.884968  227.500000  38.099998
2023-01-03 00:00:00+00:00  230.500000  35.965260  230.500000  37.150002
2023-01-04 00:00:00+00:00  232.000000  36.207298  232.000000  37.400002
2023-01-05 00:00:00+00:00  224.880005  36.284744  224.880005  37.480000
2023-01-06 00:00:00+00:00  224.500000  36.817204  224.500000  38.029999
...                               ...        ...         ...        ...
2023-09-25 00:00:00+00:00  239.199997  35.475536  239.199997  36.130001
2023-09-26 00:00:00+00:00  235.949997  35.426441  235.949997  36.080002
2023-09-27 00:00:00+00:00  239.149994  35.367531  239.149994  36.020000
2023-09-28 00:00:00+00:00  239.490005  35.730824  239.490005  36.389999
2023-09-29 00:00:00+00:00  238.789993  35.612999  238.789993  36.270000

Price                            High                    Low             \
Ticker                      IVVB11.SA   WEGE3.SA   IVVB11.SA   WEGE3.SA
Date
2023-01-02 00:00:00+00:00  227.500000  38.500000  224.559998  37.740002
2023-01-03 00:00:00+00:00  230.500000  38.369999  225.869995  36.889999
2023-01-04 00:00:00+00:00  232.279999  37.689999  228.610001  36.660000
2023-01-05 00:00:00+00:00  228.500000  37.900002  224.000000  37.259998
2023-01-06 00:00:00+00:00  225.000000  38.270000  222.089996  37.299999
...                               ...        ...         ...        ...
2023-09-25 00:00:00+00:00  239.199997  36.400002  236.199997  35.000000
2023-09-26 00:00:00+00:00  237.539993  36.220001  235.600006  35.110001
2023-09-27 00:00:00+00:00  239.559998  36.720001  237.259995  35.759998
2023-09-28 00:00:00+00:00  240.779999  36.570000  238.880005  35.810001
2023-09-29 00:00:00+00:00  240.500000  36.709999  237.250000  36.150002

Price                            Open               Volume
Ticker                      IVVB11.SA   WEGE3.SA IVVB11.SA  WEGE3.SA
Date
2023-01-02 00:00:00+00:00  225.529999  38.500000    129945   3017700
2023-01-03 00:00:00+00:00  227.500000  38.110001    841137   5662900
2023-01-04 00:00:00+00:00  229.770004  37.330002   1000098   6169800
2023-01-05 00:00:00+00:00  228.279999  37.590000    669891   6660600
2023-01-06 00:00:00+00:00  223.360001  37.490002    532125   4071700
...                               ...        ...       ...       ...
2023-09-25 00:00:00+00:00  236.500000  35.200001    308695  12727400
2023-09-26 00:00:00+00:00  237.300003  35.189999    429551   9274100
2023-09-27 00:00:00+00:00  237.660004  36.180000    276370  10447500
2023-09-28 00:00:00+00:00  239.130005  36.099998    503666   5738900
2023-09-29 00:00:00+00:00  239.529999  36.619999    434346   5247900

[188 rows x 12 columns]

In [22]:
yf.download("WEGE3.SA IVVB11.SA", start = '2023-01-01', end = '2023-10-01')

[*********************100%***********************]  2 of 2 completed

Price                       Adj Close                  Close             \
Ticker                      IVVB11.SA   WEGE3.SA   IVVB11.SA   WEGE3.SA
Date
2023-01-02 00:00:00+00:00  227.500000  36.884968  227.500000  38.099998
2023-01-03 00:00:00+00:00  230.500000  35.965260  230.500000  37.150002
2023-01-04 00:00:00+00:00  232.000000  36.207298  232.000000  37.400002
2023-01-05 00:00:00+00:00  224.880005  36.284744  224.880005  37.480000
2023-01-06 00:00:00+00:00  224.500000  36.817204  224.500000  38.029999
...                               ...        ...         ...        ...
2023-09-25 00:00:00+00:00  239.199997  35.475536  239.199997  36.130001
2023-09-26 00:00:00+00:00  235.949997  35.426441  235.949997  36.080002
2023-09-27 00:00:00+00:00  239.149994  35.367531  239.149994  36.020000
2023-09-28 00:00:00+00:00  239.490005  35.730824  239.490005  36.389999
2023-09-29 00:00:00+00:00  238.789993  35.612999  238.789993  36.270000

Price                            High                    Low             \
Ticker                      IVVB11.SA   WEGE3.SA   IVVB11.SA   WEGE3.SA
Date
2023-01-02 00:00:00+00:00  227.500000  38.500000  224.559998  37.740002
2023-01-03 00:00:00+00:00  230.500000  38.369999  225.869995  36.889999
2023-01-04 00:00:00+00:00  232.279999  37.689999  228.610001  36.660000
2023-01-05 00:00:00+00:00  228.500000  37.900002  224.000000  37.259998
2023-01-06 00:00:00+00:00  225.000000  38.270000  222.089996  37.299999
...                               ...        ...         ...        ...
2023-09-25 00:00:00+00:00  239.199997  36.400002  236.199997  35.000000
2023-09-26 00:00:00+00:00  237.539993  36.220001  235.600006  35.110001
2023-09-27 00:00:00+00:00  239.559998  36.720001  237.259995  35.759998
2023-09-28 00:00:00+00:00  240.779999  36.570000  238.880005  35.810001
2023-09-29 00:00:00+00:00  240.500000  36.709999  237.250000  36.150002

Price                            Open               Volume
Ticker                      IVVB11.SA   WEGE3.SA IVVB11.SA  WEGE3.SA
Date
2023-01-02 00:00:00+00:00  225.529999  38.500000    129945   3017700
2023-01-03 00:00:00+00:00  227.500000  38.110001    841137   5662900
2023-01-04 00:00:00+00:00  229.770004  37.330002   1000098   6169800
2023-01-05 00:00:00+00:00  228.279999  37.590000    669891   6660600
2023-01-06 00:00:00+00:00  223.360001  37.490002    532125   4071700
...                               ...        ...       ...       ...
2023-09-25 00:00:00+00:00  236.500000  35.200001    308695  12727400
2023-09-26 00:00:00+00:00  237.300003  35.189999    429551   9274100
2023-09-27 00:00:00+00:00  237.660004  36.180000    276370  10447500
2023-09-28 00:00:00+00:00  239.130005  36.099998    503666   5738900
2023-09-29 00:00:00+00:00  239.529999  36.619999    434346   5247900

[188 rows x 12 columns]

In [23]:
yf.download("WEGE3.SA IVVB11.SA VALE3.SA", start = '2023-01-01', end = '2023-10-01', group_by= 'column')

[*********************100%***********************]  3 of 3 completed

Price                       Adj Close                             Close  \
Ticker                      IVVB11.SA   VALE3.SA   WEGE3.SA   IVVB11.SA
Date
2023-01-02 00:00:00+00:00  227.500000  77.645729  36.884968  227.500000
2023-01-03 00:00:00+00:00  230.500000  77.506760  35.965260  230.500000
2023-01-04 00:00:00+00:00  232.000000  77.645729  36.207298  232.000000
2023-01-05 00:00:00+00:00  224.880005  78.948502  36.284744  224.880005
2023-01-06 00:00:00+00:00  224.500000  80.199173  36.817204  224.500000
...                               ...        ...        ...         ...
2023-09-25 00:00:00+00:00  239.199997  60.897148  35.475536  239.199997
2023-09-26 00:00:00+00:00  235.949997  59.946201  35.426441  235.949997
2023-09-27 00:00:00+00:00  239.149994  60.074207  35.367531  239.149994
2023-09-28 00:00:00+00:00  239.490005  60.988583  35.730824  239.490005
2023-09-29 00:00:00+00:00  238.789993  61.793232  35.612999  238.789993

Price                                                  High             \
Ticker                      VALE3.SA   WEGE3.SA   IVVB11.SA   VALE3.SA
Date
2023-01-02 00:00:00+00:00  89.400002  38.099998  227.500000  89.900002
2023-01-03 00:00:00+00:00  89.239998  37.150002  230.500000  90.089996
2023-01-04 00:00:00+00:00  89.400002  37.400002  232.279999  89.650002
2023-01-05 00:00:00+00:00  90.900002  37.480000  228.500000  91.680000
2023-01-06 00:00:00+00:00  92.339996  38.029999  225.000000  92.739998
...                              ...        ...         ...        ...
2023-09-25 00:00:00+00:00  66.599998  36.130001  239.199997  67.029999
2023-09-26 00:00:00+00:00  65.559998  36.080002  237.539993  66.260002
2023-09-27 00:00:00+00:00  65.699997  36.020000  239.559998  66.190002
2023-09-28 00:00:00+00:00  66.699997  36.389999  240.779999  67.040001
2023-09-29 00:00:00+00:00  67.580002  36.270000  240.500000  67.650002

Price                                        Low                        \
Ticker                      WEGE3.SA   IVVB11.SA   VALE3.SA   WEGE3.SA
Date
2023-01-02 00:00:00+00:00  38.500000  224.559998  88.529999  37.740002
2023-01-03 00:00:00+00:00  38.369999  225.869995  88.889999  36.889999
2023-01-04 00:00:00+00:00  37.689999  228.610001  87.949997  36.660000
2023-01-05 00:00:00+00:00  37.900002  224.000000  89.000000  37.259998
2023-01-06 00:00:00+00:00  38.270000  222.089996  91.000000  37.299999
...                              ...         ...        ...        ...
2023-09-25 00:00:00+00:00  36.400002  236.199997  65.769997  35.000000
2023-09-26 00:00:00+00:00  36.220001  235.600006  65.370003  35.110001
2023-09-27 00:00:00+00:00  36.720001  237.259995  65.309998  35.759998
2023-09-28 00:00:00+00:00  36.570000  238.880005  65.959999  35.810001
2023-09-29 00:00:00+00:00  36.709999  237.250000  67.040001  36.150002

Price                            Open                          Volume  \
Ticker                      IVVB11.SA   VALE3.SA   WEGE3.SA IVVB11.SA
Date
2023-01-02 00:00:00+00:00  225.529999  88.680000  38.500000    129945
2023-01-03 00:00:00+00:00  227.500000  89.400002  38.110001    841137
2023-01-04 00:00:00+00:00  229.770004  89.300003  37.330002   1000098
2023-01-05 00:00:00+00:00  228.279999  89.459999  37.590000    669891
2023-01-06 00:00:00+00:00  223.360001  91.000000  37.490002    532125
...                               ...        ...        ...       ...
2023-09-25 00:00:00+00:00  236.500000  67.010002  35.200001    308695
2023-09-26 00:00:00+00:00  237.300003  65.699997  35.189999    429551
2023-09-27 00:00:00+00:00  237.660004  66.099998  36.180000    276370
2023-09-28 00:00:00+00:00  239.130005  66.110001  36.099998    503666
2023-09-29 00:00:00+00:00  239.529999  67.309998  36.619999    434346

Price
Ticker                     VALE3.SA  WEGE3.SA
Date
2023-01-02 00:00:00+00:00  12783800   3017700
2023-01-03 00:00:00+00:00  25332600   5662900
2023-01-04 00:00:00+00:00  26395300   6169800
2023-01-05 00:00:00+00:00  29085600   6660600
2023-01-06 00:00:00+00:00  31420600   4071700
...                             ...       ...
2023-09-25 00:00:00+00:00  34715000  12727400
2023-09-26 00:00:00+00:00  24178800   9274100
2023-09-27 00:00:00+00:00  17109300  10447500
2023-09-28 00:00:00+00:00  26072300   5738900
2023-09-29 00:00:00+00:00  19018000   5247900

[188 rows x 18 columns]

In [24]:
yf.download("WEGE3.SA IVVB11.SA VALE3.SA", start = '2023-01-01', end = '2023-10-01', group_by= 'tickers')

[*********************100%***********************]  3 of 3 completed

Ticker                      WEGE3.SA                                   \
Price                           Open       High        Low      Close
Date
2023-01-02 00:00:00+00:00  38.500000  38.500000  37.740002  38.099998
2023-01-03 00:00:00+00:00  38.110001  38.369999  36.889999  37.150002
2023-01-04 00:00:00+00:00  37.330002  37.689999  36.660000  37.400002
2023-01-05 00:00:00+00:00  37.590000  37.900002  37.259998  37.480000
2023-01-06 00:00:00+00:00  37.490002  38.270000  37.299999  38.029999
...                              ...        ...        ...        ...
2023-09-25 00:00:00+00:00  35.200001  36.400002  35.000000  36.130001
2023-09-26 00:00:00+00:00  35.189999  36.220001  35.110001  36.080002
2023-09-27 00:00:00+00:00  36.180000  36.720001  35.759998  36.020000
2023-09-28 00:00:00+00:00  36.099998  36.570000  35.810001  36.389999
2023-09-29 00:00:00+00:00  36.619999  36.709999  36.150002  36.270000

Ticker                                           IVVB11.SA              \
Price                      Adj Close    Volume        Open        High
Date
2023-01-02 00:00:00+00:00  36.884968   3017700  225.529999  227.500000
2023-01-03 00:00:00+00:00  35.965260   5662900  227.500000  230.500000
2023-01-04 00:00:00+00:00  36.207298   6169800  229.770004  232.279999
2023-01-05 00:00:00+00:00  36.284744   6660600  228.279999  228.500000
2023-01-06 00:00:00+00:00  36.817204   4071700  223.360001  225.000000
...                              ...       ...         ...         ...
2023-09-25 00:00:00+00:00  35.475536  12727400  236.500000  239.199997
2023-09-26 00:00:00+00:00  35.426441   9274100  237.300003  237.539993
2023-09-27 00:00:00+00:00  35.367531  10447500  237.660004  239.559998
2023-09-28 00:00:00+00:00  35.730824   5738900  239.130005  240.779999
2023-09-29 00:00:00+00:00  35.612999   5247900  239.529999  240.500000

Ticker                                                                  \
Price                             Low       Close   Adj Close   Volume
Date
2023-01-02 00:00:00+00:00  224.559998  227.500000  227.500000   129945
2023-01-03 00:00:00+00:00  225.869995  230.500000  230.500000   841137
2023-01-04 00:00:00+00:00  228.610001  232.000000  232.000000  1000098
2023-01-05 00:00:00+00:00  224.000000  224.880005  224.880005   669891
2023-01-06 00:00:00+00:00  222.089996  224.500000  224.500000   532125
...                               ...         ...         ...      ...
2023-09-25 00:00:00+00:00  236.199997  239.199997  239.199997   308695
2023-09-26 00:00:00+00:00  235.600006  235.949997  235.949997   429551
2023-09-27 00:00:00+00:00  237.259995  239.149994  239.149994   276370
2023-09-28 00:00:00+00:00  238.880005  239.490005  239.490005   503666
2023-09-29 00:00:00+00:00  237.250000  238.789993  238.789993   434346

Ticker                      VALE3.SA                                   \
Price                           Open       High        Low      Close
Date
2023-01-02 00:00:00+00:00  88.680000  89.900002  88.529999  89.400002
2023-01-03 00:00:00+00:00  89.400002  90.089996  88.889999  89.239998
2023-01-04 00:00:00+00:00  89.300003  89.650002  87.949997  89.400002
2023-01-05 00:00:00+00:00  89.459999  91.680000  89.000000  90.900002
2023-01-06 00:00:00+00:00  91.000000  92.739998  91.000000  92.339996
...                              ...        ...        ...        ...
2023-09-25 00:00:00+00:00  67.010002  67.029999  65.769997  66.599998
2023-09-26 00:00:00+00:00  65.699997  66.260002  65.370003  65.559998
2023-09-27 00:00:00+00:00  66.099998  66.190002  65.309998  65.699997
2023-09-28 00:00:00+00:00  66.110001  67.040001  65.959999  66.699997
2023-09-29 00:00:00+00:00  67.309998  67.650002  67.040001  67.580002

Ticker
Price                      Adj Close    Volume
Date
2023-01-02 00:00:00+00:00  77.645729  12783800
2023-01-03 00:00:00+00:00  77.506760  25332600
2023-01-04 00:00:00+00:00  77.645729  26395300
2023-01-05 00:00:00+00:00  78.948502  29085600
2023-01-06 00:00:00+00:00  80.199173  31420600
...                              ...       ...
2023-09-25 00:00:00+00:00  60.897148  34715000
2023-09-26 00:00:00+00:00  59.946201  24178800
2023-09-27 00:00:00+00:00  60.074207  17109300
2023-09-28 00:00:00+00:00  60.988583  26072300
2023-09-29 00:00:00+00:00  61.793232  19018000

[188 rows x 18 columns]

In [25]:
petro.info

{'address1': 'Avenida Henrique Valadares, 28',
 'address2': '19th floor',
 'city': 'Rio De Janeiro',
 'state': 'RJ',
 'zip': '20241-030',
 'country': 'Brazil',
 'website': 'https://petrobras.com.br',
 'industry': 'Oil & Gas Integrated',
 'industryKey': 'oil-gas-integrated',
 'industryDisp': 'Oil & Gas Integrated',
 'sector': 'Energy',
 'sectorKey': 'energy',
 'sectorDisp': 'Energy',
 'longBusinessSummary': 'Petróleo Brasileiro S.A. - Petrobras explores, produces, and sells oil and gas in Brazil and internationally. The company operates through three segments: Exploration and Production; Refining, Transportation and Marketing; and Gas and Power. The Exploration and Production segment explores, develops, and produces crude oil, natural gas liquids, and natural gas primarily for supplies to the domestic refineries. The Refining, Transportation and Marketing segment engages in the refining, logistics, transport, acquisition, and exports of crude oil; and production of fertilizers, as well as holding interests in petrochemical companies. The Gas and Power segment is involved in the logistic and trading of natural gas and electricity; transportation and trading of LNG; generation of electricity through thermoelectric power plants; renewable energy businesses; low carbon services; and natural gas processing business, as well as production of biodiesel and its co-products. The company also engages in prospecting, drilling, refining, processing, trading, and transporting crude oil from producing onshore and offshore oil fields, and shale or other rocks, as well as oil products, natural gas, and other liquid hydrocarbons. In addition, it engages in research, development, production, transport, distribution, and trading of energy. Petróleo Brasileiro S.A. - Petrobras was incorporated in 1953 and is headquartered in Rio de Janeiro, Brazil.',
 'fullTimeEmployees': 46730,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Ms. Magda Maria de Regina Chambriard',
   'title': 'CEO & Non-Independent Director',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Clarice  Coppetti',
   'age': 59,
   'title': 'Interim President, Chief Corporate Affairs Officer & Member of Executive Board',
   'yearBorn': 1964,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Fernando Sabbi Melgarejo',
   'title': 'Chief Financial & Investor Relations Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Mario Vinicius Claussen Spinelli',
   'age': 52,
   'title': 'Chief Governance & Compliance Officer and Member of Executive Board',
   'yearBorn': 1971,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Claudio Romeo Schlosser',
   'age': 59,
   'title': 'Chief Logistics, Commercialization & Markets Officer and Member of Executive Board',
   'yearBorn': 1964,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. William Franca da Silva',
   'age': 63,
   'title': 'Chief Industrial Processes & Products Officer and Member of Executive Board',
   'yearBorn': 1960,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Mauricio Tiomno Tolmasquim',
   'age': 65,
   'title': 'Chief Energy Transition & Sustainability Officer and Member of Executive Board',
   'yearBorn': 1958,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Renata  Baruzzi',
   'title': 'Chief Engineering, Technology, & Innovation Officer',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Hélio Siqueira Júnior',
   'title': 'Acting General Counsel',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Bruno  Motta',
   'title': 'Executive Manager of Communication & Brands',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 3,
 'boardRisk': 3,
 'compensationRisk': 1,
 'shareHolderRightsRisk': 9,
 'overallRisk': 2,
 'governanceEpochDate': 1730419200,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 36.88,
 'open': 36.92,
 'dayLow': 36.86,
 'dayHigh': 37.33,
 'regularMarketPreviousClose': 36.88,
 'regularMarketOpen': 36.92,
 'regularMarketDayLow': 36.86,
 'regularMarketDayHigh': 37.33,
 'dividendRate': 5.2,
 'dividendYield': 0.13949999,
 'exDividendDate': 1735171200,
 'payoutRatio': 0.959,
 'fiveYearAvgDividendYield': 18.79,
 'beta': 0.914,
 'trailingPE': 5.0094085,
 'forwardPE': 4.7966537,
 'volume': 30060900,
 'regularMarketVolume': 30060900,
 'averageVolume': 32506167,
 'averageVolume10days': 31619730,
 'averageDailyVolume10Day': 31619730,
 'bid': 37.25,
 'ask': 37.27,
 'marketCap': 504475549696,
 'fiftyTwoWeekLow': 33.04,
 'fiftyTwoWeekHigh': 42.94,
 'priceToSalesTrailing12Months': 1.0013031,
 'fiftyDayAverage': 36.6978,
 'twoHundredDayAverage': 38.08145,
 'trailingAnnualDividendRate': 6.075,
 'trailingAnnualDividendYield': 0.16472341,
 'currency': 'BRL',
 'enterpriseValue': 726080094208,
 'profitMargins': 0.1681,
 'floatShares': 7950930353,
 'sharesOutstanding': 5446499840,
 'heldPercentInsiders': 0.1607,
 'heldPercentInstitutions': 0.35492,
 'impliedSharesOutstanding': 13535699968,
 'bookValue': 30.543,
 'priceToBook': 1.2202469,
 'lastFiscalYearEnd': 1703980800,
 'nextFiscalYearEnd': 1735603200,
 'mostRecentQuarter': 1727654400,
 'earningsQuarterlyGrowth': 0.223,
 'netIncomeToCommon': 84693000192,
 'trailingEps': 7.44,
 'forwardEps': 8.04,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1209340800,
 'enterpriseToRevenue': 1.441,
 'enterpriseToEbitda': 3.247,
 '52WeekChange': 0.015254736,
 'SandP52WeekChange': 0.31793165,
 'lastDividendValue': 1.328207,
 'lastDividendDate': 1735171200,
 'exchange': 'SAO',
 'quoteType': 'EQUITY',
 'symbol': 'PETR4.SA',
 'underlyingSymbol': 'PETR4.SA',
 'shortName': 'PETROBRAS   PN      N2',
 'longName': 'Petróleo Brasileiro S.A. - Petrobras',
 'firstTradeDateEpochUtc': 946900800,
 'timeZoneFullName': 'America/Sao_Paulo',
 'timeZoneShortName': 'BRT',
 'uuid': 'f698f172-aeef-3c5e-887d-d45f94bdd057',
 'messageBoardId': 'finmb_409268',
 'gmtOffSetMilliseconds': -10800000,
 'currentPrice': 37.27,
 'targetHighPrice': 51.0,
 'targetLowPrice': 34.0,
 'targetMeanPrice': 45.06364,
 'targetMedianPrice': 46.0,
 'recommendationMean': 1.75,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 11,
 'totalCash': 77838000128,
 'totalCashPerShare': 6.039,
 'ebitda': 223582994432,
 'totalDebt': 322156986368,
 'quickRatio': 0.643,
 'currentRatio': 0.935,
 'totalRevenue': 503819010048,
 'debtToEquity': 81.548,
 'revenuePerShare': 39.001,
 'returnOnAssets': 0.109230004,
 'returnOnEquity': 0.21757999,
 'freeCashflow': 111708872704,
 'operatingCashflow': 214028992512,
 'earningsGrowth': 0.237,
 'revenueGrowth': 0.038,
 'grossMargins': 0.51795,
 'ebitdaMargins': 0.44377998,
 'operatingMargins': 0.39625,
 'financialCurrency': 'BRL',
 'trailingPegRatio': 2.3536}

In [26]:
petro.info['industry']

'Oil & Gas Integrated'

In [27]:
petro.info['dividendRate']

5.2

In [28]:
petro.info['fullTimeEmployees']

46730

In [29]:
petro.info['marketCap']

504475549696

In [30]:
petro.financials

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Tax Effect Of Unusual Items,-273420000.0,630382000.0,-397281806.908769,-4959920000.0,NaN
Tax Rate For Calcs,0.294,0.313,0.291904,0.34,NaN
Normalized EBITDA,53226000000.0,68040000000.0,46258000000.0,31578000000.0,NaN
Total Unusual Items,-930000000.0,2014000000.0,-1361000000.0,-14588000000.0,NaN
Total Unusual Items Excluding Goodwill,-930000000.0,2014000000.0,-1361000000.0,-14588000000.0,NaN
...,...,...,...,...,...
Salaries And Wages,3547000000.0,2655000000.0,2984000000.0,101000000.0,NaN
Gross Profit,53974000000.0,64988000000.0,40802000000.0,24488000000.0,NaN
Cost Of Revenue,48435000000.0,59486000000.0,43164000000.0,29195000000.0,NaN
Total Revenue,102409000000.0,124474000000.0,83966000000.0,53683000000.0,NaN
Operating Revenue,102409000000.0,124474000000.0,83966000000.0,53683000000.0,NaN

In [31]:
petro.quarterly_financials

,2024-09-30,2024-06-30,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31
Tax Effect Of Unusual Items,16886116.600791,-296846590.909091,-329523734.177215,-245750000.0,-356962178.907964,NaN,NaN
Tax Rate For Calcs,0.272357,0.076705,0.308832,0.238361,0.292113,NaN,NaN
Normalized EBITDA,11960000000.0,7607000000.0,12378000000.0,13841000000.0,13479000000.0,NaN,NaN
Total Unusual Items,62000000.0,-3870000000.0,-1067000000.0,-1031000000.0,-1222000000.0,NaN,NaN
Total Unusual Items Excluding Goodwill,62000000.0,-3870000000.0,-1067000000.0,-1031000000.0,-1222000000.0,NaN,NaN
Net Income From Continuing Operation Net Minority Interest,5870000000.0,-344000000.0,4782000000.0,6259000000.0,5456000000.0,NaN,NaN
Reconciled Depreciation,2983000000.0,3138000000.0,3362000000.0,3632000000.0,3475000000.0,NaN,NaN
Reconciled Cost Of Revenue,8572000000.0,8806000000.0,8357000000.0,9000000000.0,8698000000.0,NaN,NaN
EBITDA,12022000000.0,3737000000.0,11311000000.0,12810000000.0,12257000000.0,NaN,NaN
EBIT,9039000000.0,599000000.0,7949000000.0,9178000000.0,8782000000.0,NaN,NaN
Net Interest Income,-753000000.0,-2835000000.0,-952000000.0,-905000000.0,-1017000000.0,NaN,NaN
Interest Expense,943000000.0,951000000.0,997000000.0,930000000.0,1035000000.0,NaN,NaN
Interest Income,128000000.0,NaN,120000000.0,NaN,146000000.0,93030914.255135,132000000.0
Normalized Income,5824886116.600791,3229153409.090909,5519476265.822785,7044250000.0,6321037821.092036,NaN,NaN
Net Income From Continuing And Discontinued Operation,5870000000.0,-344000000.0,4782000000.0,6259000000.0,5456000000.0,NaN,NaN
Total Expenses,14752000000.0,17146000000.0,14704000000.0,18003000000.0,15428000000.0,NaN,NaN
Rent Expense Supplemental,1098000000.0,1215000000.0,1240000000.0,1275000000.0,1194000000.0,NaN,NaN
Total Operating Income As Reported,NaN,NaN,NaN,NaN,9980000000.0,8660313670.6047,58870622100.0
Diluted Average Shares,12888732761.0,12897843194.0,12919739794.0,NaN,13034622694.0,13044201261.0,NaN
Basic Average Shares,12888732761.0,12897843194.0,12919739794.0,NaN,13034622694.0,13044201261.0,NaN
Diluted EPS,0.45,-0.03,0.37,NaN,0.42,0.45,NaN
Basic EPS,0.45,-0.03,0.37,NaN,0.42,0.45,NaN
Diluted NI Availto Com Stockholders,5870000000.0,-344000000.0,4782000000.0,6259000000.0,5456000000.0,NaN,NaN
Net Income Common Stockholders,5870000000.0,-344000000.0,4782000000.0,6259000000.0,5456000000.0,NaN,NaN
Net Income,5870000000.0,-344000000.0,4782000000.0,6259000000.0,5456000000.0,NaN,NaN
Minority Interests,-21000000.0,-19000000.0,-23000000.0,-23000000.0,-28000000.0,NaN,NaN
Net Income Including Noncontrolling Interests,5891000000.0,-325000000.0,4805000000.0,6282000000.0,5484000000.0,NaN,NaN
Net Income Continuous Operations,5891000000.0,-325000000.0,4805000000.0,6282000000.0,5484000000.0,NaN,NaN
Tax Provision,2205000000.0,-27000000.0,2147000000.0,1966000000.0,2263000000.0,NaN,NaN
Pretax Income,8096000000.0,-352000000.0,6952000000.0,8248000000.0,7747000000.0,NaN,NaN
Other Income Expense,235000000.0,-3838000000.0,-1160000000.0,49000000.0,-1360000000.0,NaN,NaN
Other Non Operating Income Expenses,196000000.0,220000000.0,NaN,1149000000.0,110000000.0,22000000.0,NaN
Special Income Charges,-265000000.0,0.0,-36000000.0,-1935000000.0,-147000000.0,NaN,NaN
Gain On Sale Of Ppe,-97000000.0,124000000.0,162000000.0,145000000.0,-37000000.0,NaN,NaN
Other Special Charges,168000000.0,161000000.0,207000000.0,166000000.0,32000000.0,NaN,NaN
Write Off,NaN,NaN,-9000000.0,2681000000.0,-1000000.0,NaN,3000000.0
Impairment Of Capital Assets,0.0,-37000000.0,NaN,NaN,78000000.0,401000000.0,15287100.0
Earnings From Equity Interest,-23000000.0,-188000000.0,-93000000.0,-69000000.0,-248000000.0,NaN,NaN
Gain On Sale Of Security,327000000.0,-3870000000.0,-1031000000.0,904000000.0,-1075000000.0,NaN,NaN
Net Non Operating Interest Income Expense,-753000000.0,-2835000000.0,-952000000.0,-905000000.0,-1017000000.0,NaN,NaN
Total Other Finance Cost,-62000000.0,1884000000.0,75000000.0,-395000000.0,128000000.0,NaN,NaN
Interest Expense Non Operating,943000000.0,951000000.0,997000000.0,930000000.0,1035000000.0,NaN,NaN
Interest Income Non Operating,128000000.0,NaN,120000000.0,NaN,146000000.0,93030914.255135,132000000.0
Operating Income,8614000000.0,6321000000.0,9064000000.0,9104000000.0,10124000000.0,NaN,NaN
Operating Expense,3391000000.0,5406000000.0,3193000000.0,5550000000.0,3446000000.0,NaN,NaN
Other Operating Expenses,395000000.0,210000000.0,-77000000.0,1330000000.0,378000000.0,NaN,NaN
Other Taxes,-118000000.0,1093000000.0,91000000.0,156000000.0,96000000.0,NaN,NaN
Provision For Doubtful Accounts,0.0,-2000000.0,10000000.0,8000000.0,-3000000.0,NaN,NaN
Depreciation Amortization Depletion Income Statement,194000000.0,204000000.0,208000000.0,179000000.0,191000000.0,NaN,NaN
Research And Development,195000000.0,193000000.0,183000000.0,214000000.0,186000000.0,NaN,NaN
Selling General And Administration,2053000000.0,3008000000.0,2126000000.0,3119000000.0,2036000000.0,NaN,NaN
Selling And Marketing Expense,NaN,NaN,NaN,4986577200.0,5549451600.0,4965489200.0,5228188200.0
General And Administrative Expense,2053000000.0,3008000000.0,2126000000.0,3119000000.0,2036000000.0,NaN,NaN
Other Gand A,NaN,NaN,NaN,NaN,92000000.0,112000000.0,102000000.0
Rent And Landing Fees,1098000000.0,1215000000.0,1240000000.0,1275000000.0,1194000000.0,NaN,NaN
Salaries And Wages,955000000.0,1793000000.0,886000000.0,1844000000.0,842000000.0,NaN,NaN
Gross Profit,12005000000.0,11727000000.0,12257000000.0,14654000000.0,13570000000.0,NaN,NaN
Cost Of Revenue,11361000000.0,11740000000.0,11511000000.0,12453000000.0,11982000000.0,NaN,NaN
Total Revenue,23366000000.0,23467000000.0,23768000000.0,27107000000.0,25552000000.0,NaN,NaN
Operating Revenue,23366000000.0,23467000000.0,23768000000.0,27107000000.0,25552000000.0,NaN,NaN

In [32]:
petro.major_holders

Breakdown                         Value
insidersPercentHeld             0.16070
institutionsPercentHeld         0.35492
institutionsFloatPercentHeld    0.42287
institutionsCount             465.00000

In [33]:
petro.balance_sheet

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Treasury Shares Number,104359669.0,295669.0,295669.0,295669.0,NaN
Preferred Shares Number,NaN,NaN,5601969879.0,NaN,NaN
Ordinary Shares Number,12940137261.0,13044201261.0,13044201261.0,13044201261.0,NaN
Share Issued,13044496930.0,13044496930.0,13044496930.0,13044496930.0,NaN
Net Debt,16074000000.0,21958000000.0,25233000000.0,42177000000.0,NaN
...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,15546000000.0,10769000000.0,11117000000.0,12370000000.0,NaN
Other Short Term Investments,2819000000.0,2773000000.0,650000000.0,659000000.0,NaN
Cash And Cash Equivalents,12727000000.0,7996000000.0,10467000000.0,11711000000.0,NaN
Cash Equivalents,12624000000.0,7780000000.0,10168000000.0,11159000000.0,NaN
Cash Financial,103000000.0,216000000.0,299000000.0,552000000.0,NaN

In [34]:
petro.quarterly_balance_sheet

,2024-09-30,2024-06-30,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31
Treasury Shares Number,155764169.0,155764169.0,135209269.0,104359669.0,29031369.0,NaN,NaN
Ordinary Shares Number,12888732761.0,12888732761.0,12909287661.0,12940137261.0,13015465561.0,NaN,NaN
Share Issued,13044496930.0,13044496930.0,13044496930.0,13044496930.0,13044496930.0,NaN,NaN
Net Debt,17062000000.0,18437000000.0,16191000000.0,16074000000.0,17352000000.0,NaN,NaN
Total Debt,59132000000.0,59630000000.0,61838000000.0,62600000000.0,60997000000.0,NaN,NaN
...,...,...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,14287000000.0,12174000000.0,16365000000.0,15546000000.0,13409000000.0,NaN,NaN
Other Short Term Investments,5593000000.0,4290000000.0,4818000000.0,2819000000.0,1299000000.0,NaN,NaN
Cash And Cash Equivalents,8694000000.0,7884000000.0,11547000000.0,12727000000.0,12110000000.0,NaN,NaN
Cash Equivalents,8112000000.0,7373000000.0,10824000000.0,12624000000.0,11907000000.0,NaN,NaN
Cash Financial,582000000.0,511000000.0,723000000.0,103000000.0,203000000.0,NaN,NaN

In [35]:
petro.cash_flow

,2023-12-31,2022-12-31,2021-12-31,2020-12-31,2019-12-31
Free Cash Flow,31098000000.0,40136000000.0,31466000000.0,23016000000.0,NaN
Repurchase Of Capital Stock,-735000000.0,0.0,0.0,NaN,NaN
Repayment Of Debt,-10479000000.0,-14764000000.0,-27240000000.0,-31607000000.0,NaN
Issuance Of Debt,2210000000.0,2880000000.0,1885000000.0,17023000000.0,NaN
Capital Expenditure,-12114000000.0,-9581000000.0,-6325000000.0,-5874000000.0,NaN
...,...,...,...,...,...
Operating Gains Losses,3049000000.0,4390000000.0,9386000000.0,10296000000.0,NaN
Pension And Employee Benefit Expense,1542000000.0,1228000000.0,2098000000.0,-1001000000.0,NaN
Earnings Losses From Equity Investments,304000000.0,-251000000.0,-1607000000.0,659000000.0,NaN
Net Foreign Currency Exchange Gain Loss,2498000000.0,4557000000.0,10795000000.0,11094000000.0,NaN
Net Income From Continuing Operations,24995000000.0,36755000000.0,19986000000.0,948000000.0,NaN

In [36]:
petro.quarterly_cash_flow

,2024-09-30,2024-06-30,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31
Free Cash Flow,6864000000.0,6153000000.0,6548000000.0,8075000000.0,8369000000.0,NaN,NaN
Repurchase Of Capital Stock,0.0,-148000000.0,-232000000.0,-538000000.0,-197000000.0,NaN,NaN
Repayment Of Debt,-3822000000.0,-3276000000.0,-2925000000.0,-3503000000.0,-2632000000.0,NaN,NaN
Issuance Of Debt,986000000.0,565000000.0,2000000.0,910000000.0,1238000000.0,NaN,NaN
Capital Expenditure,-4443000000.0,-2934000000.0,-2838000000.0,-3594000000.0,-3185000000.0,NaN,NaN
...,...,...,...,...,...,...,...
Operating Gains Losses,697000000.0,8806000000.0,2299000000.0,-3000000.0,2646000000.0,NaN,NaN
Pension And Employee Benefit Expense,409000000.0,1702000000.0,433000000.0,389000000.0,394000000.0,NaN,NaN
Earnings Losses From Equity Investments,23000000.0,188000000.0,93000000.0,69000000.0,248000000.0,NaN,NaN
Net Foreign Currency Exchange Gain Loss,168000000.0,7040000000.0,1935000000.0,-316000000.0,1967000000.0,NaN,NaN
Net Income From Continuing Operations,5891000000.0,-325000000.0,4805000000.0,6282000000.0,5484000000.0,NaN,NaN